.navbar {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;

    .heading {
        margin: 0;
        color: var(--green);
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
}
